 body 
 {
 background-size: cover;
 }

 .note
 {
    font-size: 15px;
    color: black;

 }

 .heading
 {
    font-size: 20px;
 }

 canvas
 {
     border: 5px solid white;
     border-radius: 20px;
     box-shadow: -5px 5px 7px pink;
     
 }